
@{
    ViewBag.Title = "Phanhoi";
    Layout = "~/Views/Shared/PageHome.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Content/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/css/style.css">

</head>
<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-wrap">
                        <h3>Phản Hồi</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <form action="#" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fname">Họ và tên</label>
                                            <input type="text" id="fname" class="form-control" placeholder="Vui lòng nhập họ và tên" name="hoten" />
                                            @ViewData["Loi1"]
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" id="email" class="form-control" placeholder="Vui lòng nhập địa chỉ email" name="email">
                                            @ViewData["Loi2"]
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="subject">Số điện thoại</label>
                                            <input type="text" id="subject" class="form-control" placeholder="Vui lòng nhập số điện thoại" name="sdt">
                                            @ViewData["Loi3"]
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="subject">Ngày phản hồi</label>
                                            <input type="date" id="subject" class="form-control" placeholder="Vui lòng chọn ngày phản hồi" name="ngayphanhoi">
                                            @ViewData["Loi4"]
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="message">Nội dung</label>
                                            <textarea name="noidung" id="message" cols="30" rows="10" class="form-control" placeholder="Vui lòng nhập nội dung"></textarea>
                                            @ViewData["Loi5"]
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="submit" value="Gửi Phản Hồi" class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- popper -->
    <script src="~/Scripts/popper.min.js"></script>
    <!-- bootstrap 4.1 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery easing -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="~/Scripts/google_map.js"></script>
    <!-- Main -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>



