@model SneakerWeb.Models.PhanHoi

@{
    ViewBag.Title = "Chitietphanhoi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="a">Chi Tiết Phản Hồi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Ngày phản hồi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay về", "Phanhoi", new {id = Model.Maph }, new { @class = "button" })
</p>
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .a {
        color: blue;
        font: bold;
    }
</style>
