@model SneakerWeb.Models.Admin

@{
    ViewBag.Title = "Xoatk";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="a">Xóa Tài Khoản</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAdmin)
        </dd>

        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/images/"+  Model.Hinh)" width="180" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="button4" /> |
            @Html.ActionLink("Quay về", "Tkadmin", new { id = Model.UserAdmin }, new { @class = "button" }) |
        </div>
    }
</div>
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button4 {
        background-color: red; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .a {
        color: blue;
        font: bold;
    }
</style>

